{% extends 'base.html' %}
{% block content %}
{% load static %}

<script type="text/javascript">alert("Bienvenidos!!!");</script>

<div class="p-4">
	<center><h1>RESULTADOS DE LA BUSQUEDA DE COMIDITA</h1><hr></center>

	<form class="form-control">
		
		<div class="row">
			
				{% for gordas in gordas_list %}
				<div class=col-md-4>
                    <br>

					        <center><strong><p>{{ gordas.nomb }}</p></strong><hr></center>

					        <center><img src="{{ gordas.img.url }}" height="220" width="220"></center>

				</div>

				<div class="col-md-8">
					
					        <strong>Descripcion: </strong><p>{{ gordas.descr }}</p>

					        <strong>Fecha de agregado: </strong><p>{{ gordas.date }}</p>

					        <strong>Calificacion: </strong><p>{{ gordas.calif }}</p>
					        
		                    <br>   

		                    
				</div><br>


	    		{% endfor %}

		</div><br><br>

		{% if perms.post.add_gordas %}
			<p><a href="{% url 'home' %}">Atrás</a></p>
		{% endif %}
		
	</form>
	<br>

</div>

{% endblock content %}