{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="jumbotron p-4">
    
    <center><h1>COME CHIDO POR TORREÓN</h1></center><hr>

    <form class="form-control"  
    method="get" 
    action="{% url 'GordasBusqueda' %}">
        <input name="b" class="form-control" type="text"
               placeholder="Buscar comida">
   </form><hr>

    <div class="row">
    	<img src="{% static 'img/centro.png' %}" height="430px"
    	width="900px">
    </div><hr><br>

    <center><h1>Contamos con los mejores chefs de la region</h1></center><hr>

    <div class="row">
    	<img src="{% static 'img/centro1.png' %}" height="500px"
    	width="900px">
    </div><hr><br>

</div>

{% endblock content %}